# Python
__pycache__/
*.py[cod]
*.class
venv/
.venv/
venv~/
.pytest_cache/

# Environment
.env
.flaskenv
.env.local
.env.*.local
# Но шаблон-пример — коммитим в репозиторий:
!.env.example

# Databases (Local)
*.sqlite3
*.db

# OS
.DS_Store
.directory

# IDEs
.vscode/
.idea/
.zed/

# Справочные шаблоны (не для прода/репо)
/templates/
